{
  "$schema": "http://json.schemastore.org/prettierrc",
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "endOfLine": "auto",
  "jsxSingleQuote": false,
  "printWidth": 120,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "importOrder": [
    "^react(.*)",
    "<THIRD_PARTY_MODULES>",
    "^@/api/(.*)$",
    "^@/constants/(.*)$",
    "^@/config/(.*)$",
    "^@/context/(.*)$",
    "^@/(hooks|web3)/(.*)$",
    "^@/helpers|utils/(.*)$",
    "^@/interfaces/(.*)$",
    "^@/routes/(.*)$",
    "^@/components/(.*)$",
    "^@/pages/(.*)$",
    "^@/assets/(.*)$",
    "^[./]((?!.(sc|sa|c)ss)(?!.json).)*$",
    "\\.json$",
    "\\.(sc|sa|c)ss$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
